


<div class="jumbo">
<div flexbox="inline" class="left tomster">

  <h2 class="animate__animated animate__bounce">Kevin Franklin</h2>
</div>
  
  
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
  <LinkTo @route="about" class="button">About Us</LinkTo>
</div>