


<div class="jumbo">
<div flexbox="inline" class="left tomster"></div>
  
  <h2 class="animate__animated animate__bounce">Kevin Franklin</h2>
  <p>We hope you find exactly what you're looking for in a place to stay.</p>
</div>